@import "compass";

@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Open+Sans:300italic,600italic,400,600|Patua+One);

$width: 640px;

body {
	font-family: 'Open Sans', sans-serif;
	width: $width;
	padding: 0;
	margin: 40px auto;
}

#title {
	//margin-left: -54px;
	img {
		@include border-radius(100px);
		display: inline-block;
		margin-bottom: -12px;
		margin-right: 10px;
	}
	h1 {
		font-size: 20px;
		color: #999;
		font-family: 'Open Sans', sans-serif;
		margin-bottom: 40px;
		font-weight: 300;
		font-style: italic;

		a {
			color: inherit;
			@include transition(color 1s);
		}
		a:before {
			font-style: normal;
			content: "♖ ";
			font-size: 1.3em;
			font-family: 'Helvetica Neue';
		}
		a:hover {
			text-decoration: none;
			color: #333;
		}
	}
}

#index #title {
	text-align: center;
	a:before {
		content: none;
	}

	& + hr {
		width: 100px;
		margin: -10px auto 20px;
		border: 0;
		border-top: 1px solid #ddd;
	}
}


footer {
	margin-top: 40px;
	padding-top: 10px;
	border-top: 1px solid #ddd;
	color: #999;
	font-size: 0.8em;
}

h2 {
	font-size: 18px;
	font-family: 'Open Sans', sans-serif;
	color: #555;
	font-weight: 600;
	font-style: italic;
}

a {
	text-decoration: none;
	color: #2866b3;

	&:hover {
		text-decoration: underline;
	}
}

.meta {
	color: #666;
	font-size: .8em;
	margin: 0 0 2.5em 0;
	padding: 0;

	li {
		display: inline;
	}
	li + li:before {
		content: " ∙ ";
	}
}


article {
	> h1 {
		margin-bottom: .4em;
	}
}

.codehilitetable {
	$numwidth: 40px;
	$padding: 14px;
	border-collapse: collapse;
	width: $width + $numwidth + 3 * $padding;
	margin-left: -($numwidth + 2 * $padding);

	line-height: 20px;
	font-size: 14px;

	td {
		padding: 0;
	}

	.linenos {
		width: $numwidth;
		color: #555;
		font-size: 11px;
		padding-right: $padding;
		opacity: .4;
		@include transition(opacity .4s ease-out);

		pre {
			margin: 0;
		}
	}
	&:hover .linenos {
		opacity: 1;
	}

	td.code {
		//border-top: 1px solid #ddd;

		pre {
			margin: 0;
			padding: 15px $padding 18px;
			font-family: 'Source Code Pro', monospace;
			@include border-radius(4px);
		}
	}
}

div.tags {
	color: #999;
	font-size: 0.9em;
	margin-top: 2.5em;
	ul {
		display: inline-block;
		margin: 0 0 0 5px;
		padding: 0;
	}
	li {
		padding: 0 3px;
		display: inline-block;
	}
	a {
		font-weight: normal;
		background: #8dc4e8;
		color: #fff;
		padding: 2px 10px 3px;
		@include border-radius(20px);
		border-bottom: 1px solid #649eed;
		text-shadow: #649eed 0 1px 0, rgba(#000, .2) 0 0 3px;
	}
	a:hover {
		text-decoration: none;
		background: #649eed;
	}
}


.content {
	line-height: 1.5em;

	h1 {
		font-family: 'Patua One', cursive;
		font-size: 1.6em;
		color: #333;
	}

	h2 {
		font-family: 'Patua One', cursive;
		font-style: normal;
		color: #333;
		margin-top: 2em;
		font-size: 1.3em;
	}

	code {
		color: #444;
		background: #f3f3f3;
		border: 1px solid #e3e3e3;
		@include border-radius(2px);
		display: inline-block;
		padding: 0 3px 1px 3px;
		margin: 0 0 -1px 0;
		line-height: 1.2em;
		font-size: 0.9em;
		font-family: 'Source Code Pro', monospace;
	}

	a {
		font-weight: normal;
	}

	a > code {
		color: inherit;
		font-weight: normal;
	}
	a:hover > code {
		text-decoration: underline;
	}
}

@import "code";
