@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro:400,600|Open+Sans:300italic,600italic,400,600|Patua+One);
/* line 7, ../../scss/screen.scss */
body {
  font-family: 'Open Sans', sans-serif;
  width: 640px;
  padding: 0;
  margin: 40px auto;
  -webkit-font-smoothing: subpixel-antialiased;
}

/* line 17, ../../scss/screen.scss */
#title img {
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  display: inline-block;
  margin-bottom: -12px;
  margin-right: 10px;
}
/* line 23, ../../scss/screen.scss */
#title h1 {
  font-size: 20px;
  color: #999;
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 34px;
  font-weight: 300;
  font-style: italic;
}
/* line 31, ../../scss/screen.scss */
#title h1 a {
  color: inherit;
  -moz-transition: color 1s;
  -o-transition: color 1s;
  -webkit-transition: color 1s;
  transition: color 1s;
}
/* line 35, ../../scss/screen.scss */
#title h1 a:before {
  font-style: normal;
  content: "♖ ";
  font-size: 1.3em;
  font-family: 'Helvetica Neue';
}
/* line 41, ../../scss/screen.scss */
#title h1 a:hover {
  text-decoration: none;
  color: #333;
}

/* line 48, ../../scss/screen.scss */
#index #title {
  text-align: center;
}
/* line 50, ../../scss/screen.scss */
#index #title a:before {
  content: none;
}
/* line 54, ../../scss/screen.scss */
#index #title + hr {
  width: 100px;
  margin: -10px auto 20px;
  border: 0;
  border-top: 1px solid #ddd;
}

/* line 63, ../../scss/screen.scss */
footer {
  margin-top: 40px;
  padding-top: 10px;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.8em;
}

/* line 71, ../../scss/screen.scss */
h2 {
  font-size: 18px;
  font-family: 'Open Sans', sans-serif;
  color: #555;
  font-weight: 600;
  font-style: italic;
}

/* line 79, ../../scss/screen.scss */
a {
  text-decoration: none;
  color: #3468a9;
}
/* line 83, ../../scss/screen.scss */
a:hover {
  text-decoration: underline;
}

/* line 88, ../../scss/screen.scss */
.codehilitetable {
  border-collapse: collapse;
  width: 722px;
  margin-left: -68px;
  line-height: 20px;
  font-size: 14px;
}
/* line 98, ../../scss/screen.scss */
.codehilitetable td {
  padding: 0;
}
/* line 102, ../../scss/screen.scss */
.codehilitetable .linenos {
  width: 40px;
  color: #555;
  font-size: 11px;
  padding-right: 14px;
  opacity: .4;
  -moz-transition: opacity 0.4s ease-out;
  -o-transition: opacity 0.4s ease-out;
  -webkit-transition: opacity 0.4s ease-out;
  transition: opacity 0.4s ease-out;
}
/* line 110, ../../scss/screen.scss */
.codehilitetable .linenos pre {
  margin: 0;
}
/* line 114, ../../scss/screen.scss */
.codehilitetable:hover .linenos {
  opacity: 1;
}
/* line 121, ../../scss/screen.scss */
.codehilitetable td.code pre {
  margin: 0;
  padding: 15px 14px 18px;
  font-family: 'Source Code Pro', monospace;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 130, ../../scss/screen.scss */
:not(.code) > .codehilite {
  border-collapse: collapse;
  width: 668px;
  margin-left: -14px;
  line-height: 20px;
  font-size: 14px;
}
/* line 139, ../../scss/screen.scss */
:not(.code) > .codehilite pre {
  margin: 0;
  padding: 15px 14px 18px;
  font-family: 'Source Code Pro', monospace;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

/* line 147, ../../scss/screen.scss */
div.tags {
  color: #999;
  font-size: 0.9em;
  margin-top: 2.5em;
}
/* line 151, ../../scss/screen.scss */
div.tags ul {
  display: inline-block;
  margin: 0 0 0 5px;
  padding: 0;
}
/* line 156, ../../scss/screen.scss */
div.tags li {
  padding: 0 3px;
  display: inline-block;
}
/* line 160, ../../scss/screen.scss */
div.tags a {
  font-weight: normal;
  background: #8dc4e8;
  color: #fff;
  padding: 2px 10px 3px;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border-bottom: 1px solid #649eed;
  text-shadow: #649eed 0 1px 0, rgba(0, 0, 0, 0.2) 0 0 3px;
}
/* line 169, ../../scss/screen.scss */
div.tags a:hover {
  text-decoration: none;
  background: #649eed;
}

/* line 175, ../../scss/screen.scss */
.excerpt {
  margin-top: 2em;
}
/* line 178, ../../scss/screen.scss */
.excerpt h1 {
  font-family: 'Patua One', cursive;
  font-size: 1.6em;
  color: #333;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .4em;
}
/* line 187, ../../scss/screen.scss */
.excerpt time {
  color: #666;
}
/* line 192, ../../scss/screen.scss */
.excerpt + .excerpt h1 {
  padding-top: 1.25em;
  margin-top: 0;
}
/* line 196, ../../scss/screen.scss */
.excerpt + .excerpt:before {
  content: " ";
  font-size: 0;
  display: block;
  border-bottom: 1px solid #ddd;
  width: 20px;
}
/* line 205, ../../scss/screen.scss */
.excerpt + footer {
  margin-top: 2.5em;
}

/* line 211, ../../scss/screen.scss */
.post h1 {
  font-family: 'Patua One', cursive;
  font-size: 1.6em;
  color: #333;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: .4em;
}
/* line 220, ../../scss/screen.scss */
.post .meta {
  color: #666;
  font-size: .8em;
  margin: 0 0 2.5em 0;
  padding: 0;
}
/* line 226, ../../scss/screen.scss */
.post .meta li {
  display: inline;
}
/* line 229, ../../scss/screen.scss */
.post .meta li + li:before {
  content: " ∙ ";
}

/* line 235, ../../scss/screen.scss */
.content {
  line-height: 1.5em;
}
/* line 238, ../../scss/screen.scss */
.content h2 {
  font-family: 'Patua One', cursive;
  font-style: normal;
  color: #333;
  margin-top: 2em;
  font-size: 1.3em;
}
/* line 246, ../../scss/screen.scss */
.content code {
  color: #444;
  background: #f3f3f3;
  border: 1px solid #e3e3e3;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  padding: 0 3px 1px 3px;
  margin: 0 0 -1px 0;
  line-height: 1.2em;
  font-size: 0.9em;
  font-family: 'Source Code Pro', monospace;
}
/* line 259, ../../scss/screen.scss */
.content a {
  font-weight: 600;
}
/* line 263, ../../scss/screen.scss */
.content a > code {
  color: inherit;
  font-weight: normal;
}
/* line 267, ../../scss/screen.scss */
.content a:hover > code {
  text-decoration: underline;
}

/* line 1, ../../scss/_code.scss */
.code pre, .codehilite pre {
  background: #202020;
  color: #d0d0d0;
  /* Comment */
  /* Error */
  /* Generic */
  /* Keyword */
  /* Literal */
  /* Name */
  /* Operator */
  /* Other */
  /* Punctuation */
  /* Comment.Multiline */
  /* Comment.Preproc */
  /* Comment.Single */
  /* Comment.Special */
  /* Generic.Deleted */
  /* Generic.Emph */
  /* Generic.Error */
  /* Generic.Heading */
  /* Generic.Inserted */
  /* Generic.Output */
  /* Generic.Prompt */
  /* Generic.Strong */
  /* Generic.Subheading */
  /* Generic.Traceback */
  /* Keyword.Constant */
  /* Keyword.Declaration */
  /* Keyword.Namespace */
  /* Keyword.Pseudo */
  /* Keyword.Reserved */
  /* Keyword.Type */
  /* Literal.Date */
  /* Literal.Number */
  /* Literal.String */
  /* Name.Attribute */
  /* Name.Builtin */
  /* Name.Class */
  /* Name.Constant */
  /* Name.Decorator */
  /* Name.Entity */
  /* Name.Exception */
  /* Name.Function */
  /* Name.Label */
  /* Name.Namespace */
  /* Name.Other */
  /* Name.Property */
  /* Name.Tag */
  /* Name.Variable */
  /* Operator.Word */
  /* Text.Whitespace */
  /* Literal.Number.Float */
  /* Literal.Number.Hex */
  /* Literal.Number.Integer */
  /* Literal.Number.Oct */
  /* Literal.String.Backtick */
  /* Literal.String.Char */
  /* Literal.String.Doc */
  /* Literal.String.Double */
  /* Literal.String.Escape */
  /* Literal.String.Heredoc */
  /* Literal.String.Interpol */
  /* Literal.String.Other */
  /* Literal.String.Regex */
  /* Literal.String.Single */
  /* Literal.String.Symbol */
  /* Name.Builtin.Pseudo */
  /* Name.Variable.Class */
  /* Name.Variable.Global */
  /* Name.Variable.Instance */
  /* Literal.Number.Integer.Long */
}
/* line 5, ../../scss/_code.scss */
.code pre .hll, .codehilite pre .hll {
  background-color: #404040;
}
/* line 6, ../../scss/_code.scss */
.code pre .c, .codehilite pre .c {
  color: #999999;
  font-style: italic;
}
/* line 7, ../../scss/_code.scss */
.code pre .err, .codehilite pre .err {
  color: #a61717;
  background-color: #e3d2d2;
}
/* line 8, ../../scss/_code.scss */
.code pre .g, .codehilite pre .g {
  color: #d0d0d0;
}
/* line 9, ../../scss/_code.scss */
.code pre .k, .codehilite pre .k {
  color: #6ab825;
  font-weight: bold;
}
/* line 10, ../../scss/_code.scss */
.code pre .l, .codehilite pre .l {
  color: #d0d0d0;
}
/* line 11, ../../scss/_code.scss */
.code pre .n, .codehilite pre .n {
  color: #d0d0d0;
}
/* line 12, ../../scss/_code.scss */
.code pre .o, .codehilite pre .o {
  color: #d0d0d0;
}
/* line 13, ../../scss/_code.scss */
.code pre .x, .codehilite pre .x {
  color: #d0d0d0;
}
/* line 14, ../../scss/_code.scss */
.code pre .p, .codehilite pre .p {
  color: #d0d0d0;
}
/* line 15, ../../scss/_code.scss */
.code pre .cm, .codehilite pre .cm {
  color: #999999;
  font-style: italic;
}
/* line 16, ../../scss/_code.scss */
.code pre .cp, .codehilite pre .cp {
  color: #cd2828;
  font-weight: bold;
}
/* line 17, ../../scss/_code.scss */
.code pre .c1, .codehilite pre .c1 {
  color: #999999;
  font-style: italic;
}
/* line 18, ../../scss/_code.scss */
.code pre .cs, .codehilite pre .cs {
  color: #e50808;
  font-weight: bold;
  background-color: #520000;
}
/* line 19, ../../scss/_code.scss */
.code pre .gd, .codehilite pre .gd {
  color: #d22323;
}
/* line 20, ../../scss/_code.scss */
.code pre .ge, .codehilite pre .ge {
  color: #d0d0d0;
  font-style: italic;
}
/* line 21, ../../scss/_code.scss */
.code pre .gr, .codehilite pre .gr {
  color: #d22323;
}
/* line 22, ../../scss/_code.scss */
.code pre .gh, .codehilite pre .gh {
  color: #ffffff;
  font-weight: bold;
}
/* line 23, ../../scss/_code.scss */
.code pre .gi, .codehilite pre .gi {
  color: #589819;
}
/* line 24, ../../scss/_code.scss */
.code pre .go, .codehilite pre .go {
  color: #cccccc;
}
/* line 25, ../../scss/_code.scss */
.code pre .gp, .codehilite pre .gp {
  color: #aaaaaa;
}
/* line 26, ../../scss/_code.scss */
.code pre .gs, .codehilite pre .gs {
  color: #d0d0d0;
  font-weight: bold;
}
/* line 27, ../../scss/_code.scss */
.code pre .gu, .codehilite pre .gu {
  color: #ffffff;
  text-decoration: underline;
}
/* line 28, ../../scss/_code.scss */
.code pre .gt, .codehilite pre .gt {
  color: #d22323;
}
/* line 29, ../../scss/_code.scss */
.code pre .kc, .codehilite pre .kc {
  color: #6ab825;
  font-weight: bold;
}
/* line 30, ../../scss/_code.scss */
.code pre .kd, .codehilite pre .kd {
  color: #6ab825;
  font-weight: bold;
}
/* line 31, ../../scss/_code.scss */
.code pre .kn, .codehilite pre .kn {
  color: #6ab825;
  font-weight: bold;
}
/* line 32, ../../scss/_code.scss */
.code pre .kp, .codehilite pre .kp {
  color: #6ab825;
}
/* line 33, ../../scss/_code.scss */
.code pre .kr, .codehilite pre .kr {
  color: #6ab825;
  font-weight: bold;
}
/* line 34, ../../scss/_code.scss */
.code pre .kt, .codehilite pre .kt {
  color: #6ab825;
  font-weight: bold;
}
/* line 35, ../../scss/_code.scss */
.code pre .ld, .codehilite pre .ld {
  color: #d0d0d0;
}
/* line 36, ../../scss/_code.scss */
.code pre .m, .codehilite pre .m {
  color: #3677a9;
}
/* line 37, ../../scss/_code.scss */
.code pre .s, .codehilite pre .s {
  color: #ed9d13;
}
/* line 38, ../../scss/_code.scss */
.code pre .na, .codehilite pre .na {
  color: #bbbbbb;
}
/* line 39, ../../scss/_code.scss */
.code pre .nb, .codehilite pre .nb {
  color: #24909d;
}
/* line 40, ../../scss/_code.scss */
.code pre .nc, .codehilite pre .nc {
  color: #5699f5;
}
/* line 41, ../../scss/_code.scss */
.code pre .no, .codehilite pre .no {
  color: #40ffff;
}
/* line 42, ../../scss/_code.scss */
.code pre .nd, .codehilite pre .nd {
  color: orange;
}
/* line 43, ../../scss/_code.scss */
.code pre .ni, .codehilite pre .ni {
  color: #d0d0d0;
}
/* line 44, ../../scss/_code.scss */
.code pre .ne, .codehilite pre .ne {
  color: #bbbbbb;
}
/* line 45, ../../scss/_code.scss */
.code pre .nf, .codehilite pre .nf {
  color: #5699f5;
}
/* line 46, ../../scss/_code.scss */
.code pre .nl, .codehilite pre .nl {
  color: #d0d0d0;
}
/* line 47, ../../scss/_code.scss */
.code pre .nn, .codehilite pre .nn {
  color: #5699f5;
}
/* line 48, ../../scss/_code.scss */
.code pre .nx, .codehilite pre .nx {
  color: #d0d0d0;
}
/* line 49, ../../scss/_code.scss */
.code pre .py, .codehilite pre .py {
  color: #d0d0d0;
}
/* line 50, ../../scss/_code.scss */
.code pre .nt, .codehilite pre .nt {
  color: #6ab825;
  font-weight: bold;
}
/* line 51, ../../scss/_code.scss */
.code pre .nv, .codehilite pre .nv {
  color: #40ffff;
}
/* line 52, ../../scss/_code.scss */
.code pre .ow, .codehilite pre .ow {
  color: #6ab825;
  font-weight: bold;
}
/* line 53, ../../scss/_code.scss */
.code pre .w, .codehilite pre .w {
  color: #666666;
}
/* line 54, ../../scss/_code.scss */
.code pre .mf, .codehilite pre .mf {
  color: #3677a9;
}
/* line 55, ../../scss/_code.scss */
.code pre .mh, .codehilite pre .mh {
  color: #3677a9;
}
/* line 56, ../../scss/_code.scss */
.code pre .mi, .codehilite pre .mi {
  color: #3677a9;
}
/* line 57, ../../scss/_code.scss */
.code pre .mo, .codehilite pre .mo {
  color: #3677a9;
}
/* line 58, ../../scss/_code.scss */
.code pre .sb, .codehilite pre .sb {
  color: #ed9d13;
}
/* line 59, ../../scss/_code.scss */
.code pre .sc, .codehilite pre .sc {
  color: #ed9d13;
}
/* line 60, ../../scss/_code.scss */
.code pre .sd, .codehilite pre .sd {
  color: #ed9d13;
}
/* line 61, ../../scss/_code.scss */
.code pre .s2, .codehilite pre .s2 {
  color: #ed9d13;
}
/* line 62, ../../scss/_code.scss */
.code pre .se, .codehilite pre .se {
  color: #ed9d13;
}
/* line 63, ../../scss/_code.scss */
.code pre .sh, .codehilite pre .sh {
  color: #ed9d13;
}
/* line 64, ../../scss/_code.scss */
.code pre .si, .codehilite pre .si {
  color: #ed9d13;
}
/* line 65, ../../scss/_code.scss */
.code pre .sx, .codehilite pre .sx {
  color: orange;
}
/* line 66, ../../scss/_code.scss */
.code pre .sr, .codehilite pre .sr {
  color: #ed9d13;
}
/* line 67, ../../scss/_code.scss */
.code pre .s1, .codehilite pre .s1 {
  color: #ed9d13;
}
/* line 68, ../../scss/_code.scss */
.code pre .ss, .codehilite pre .ss {
  color: #ed9d13;
}
/* line 69, ../../scss/_code.scss */
.code pre .bp, .codehilite pre .bp {
  color: #24909d;
}
/* line 70, ../../scss/_code.scss */
.code pre .vc, .codehilite pre .vc {
  color: #40ffff;
}
/* line 71, ../../scss/_code.scss */
.code pre .vg, .codehilite pre .vg {
  color: #40ffff;
}
/* line 72, ../../scss/_code.scss */
.code pre .vi, .codehilite pre .vi {
  color: #40ffff;
}
/* line 73, ../../scss/_code.scss */
.code pre .il, .codehilite pre .il {
  color: #3677a9;
}

/* line 76, ../../scss/_code.scss */
table.codetable {
  width: 100%;
}

/* line 77, ../../scss/_code.scss */
td.linenos {
  text-align: right;
  width: 4em;
}
